/* CSS変数定義 */
:root {
    --color-text-main: #151515;
    --color-text-sub: #232323;
    --color-text-light: #3e3e3e;
    --color-background: #dcd8d8;
    --color-main: #454545;
    --color-sub: #460d0d;
}

/* ===========================
    Header Navigation
   =========================== */

body {
    background-color: var(--color-background);
    font-family: "Zen Old Mincho", serif;
    font-weight: 600;
    font-style: normal;
    color: var(--color-text-sub);
    line-height: 1.6;
    background-image: url(../images/profile.webp);
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.maincontents-home{
    max-width: 35%;
    margin-left: 8%;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;

}

h1 {
    font-weight: 1000;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--color-text-main);
    text-decoration: underline;
}

ul {
    list-style: none;
}

.navigation__list {
    display: flex;
    gap: 10px;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.navigation__link {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: var(--color-text-sub);
    padding: 20px;
}

.profile__subname {
    font-size: 16px;
    font-weight: 300;
    color: var(--color-text-sub);
    letter-spacing: 0.2em;
    text-align: center;
}

.profile__name {
    font-size: 53px;
    font-weight: 400;
    color: var(--color-text-main);
    letter-spacing: 0.3em;
    text-align: center;
    margin-top: -20px;
}

.profile__bio, .profile__school {
    font-size: 18px;
    font-weight: 400;
    color: var(--color-text-sub);
    letter-spacing: 0.1em;
}

.statement__title {
    font-size: 30px;
    font-weight: 400;
    color: var(--color-text-main);
    letter-spacing: 0.2em;
    border-left: 8px solid var(--color-text-main);
    padding-left: 20px;
    margin-bottom: 60px;
    margin-top: 60px;
}

.statement__text {
    font-size: 15px;
    font-weight: 300;
    color: var(--color-text-sub);
    letter-spacing: 0.2em;
    line-height: 2;
    margin-left: 30px;
}

.skills__title {
    font-size: 26px;
    font-weight: 300;
    color: var(--color-text-main);
    letter-spacing: 0.1em;
}

.skills__item {
    display: grid;
    grid-template-columns: 350px 300px;
    gap: 10px;
}