:root {
    /* 基本色 */
    --color-primary: #383838;
    --color-secondary: #d0d0d0;

    /* 文字大きさ（Googleのデザインシステムが採用しているらしいもの） */
    --font-size-100: 0.75rem;
    --font-size-200: 0.875rem;
    --font-size-300: 1rem;
    --font-size-400: 1.5rem;
    --font-size-500: 2rem;

    /* 余白 */
    --spacing-xs: 0.1rem;
    --spacing-sm: 0.3rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
    --spacing-xl: 2rem;
    --spacing-2xl: 3rem;
    --spacing-3xl: 5rem;

    /* ボーダー半径 */
    --radius-sm: 0.25rem; /* 4px */
    --radius-md: 0.5rem;  /* 8px */
    --radius-lg: 1rem; /* 16px */
    --radius-full: 9999px; /* 完全な円 */
}

body {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

h1 {
    font-size: var(--font-size-500);
    letter-spacing: var(--spacing-xs);
}

h2 {
    font-size: var(--font-size-400);
    letter-spacing: var(--spacing-xs);
}

h3 {
    font-size: var(--font-size-300);
    letter-spacing: var(--spacing-sm);
}

.l-header {
    padding-inline: var(--spacing-3xl);
    padding-block: var(--spacing-2xl);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.l-main {
    padding-inline: var(--spacing-3xl);
}

.c-section-title {
    padding-bottom: var(--spacing-xl);
}

.p-gnav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.p-gnav__list {
    grid-column: 2;
    display: flex;
    gap: 50px;
    align-items: center;
    height: 50px;
    border-radius: var(--radius-full);
    background-color: var(--color-secondary);
    padding-inline: 5rem;
}

.p-gnav__link {
    color: var(--color-primary);
    letter-spacing: 0.05em;
}

.p-gnav__buttons {
    justify-self: end;
}

.c-button {
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
    color: var(--color-primary);
    height: 50px;
    border-radius: var(--radius-full);
    padding-inline: var(--spacing-xl);
    letter-spacing: var(--spacing-xs);
}

.p-profile {
    padding-block: calc(var(--spacing-3xl) * 3);
}

.p-profile__wrap {
    display: flex;
    width: 100%;
}

.p-profile__main {
    flex: 1;
    width: 50%;
}

.p-profile__sub {
    flex: 1;
    width: 50%;
}

.p-profile__avatar {
    width: 100%;
    max-width: 1000px;
    max-height: 600px;
    padding-inline: var(--spacing-xl);
}

.p-profile__photo {
    max-width: 320px;
    height: 140px;
}










/* career */
.p-career__main-title {
    font-size: var(--font-size-400);
    font-weight: 700;
    letter-spacing: var(--spacing-xs);
    margin-bottom: var(--spacing-sm);
}

.p-career__wrap {
    display: flex;
    padding-block: 5rem;
}

.p-career__timeline {
    width: 50%;
}

.p-career__list {
    display: grid;
    grid-template-columns: 1fr 60fpx 1fr;
    grid-template-rows: minmax(24px, auto);
}

.p-career__year {
    grid-column: 1;
    justify-self: end;
}

.p-career__title,
.p-career__subtitle {
    line-height: 1.2;
}

.p-career__year--2021 {
    grid-row: 1;
}

.p-career__year--2021-04 {
    grid-row: 4;
}

.p-career__year--2022 {
    grid-row: 13;
}

.p-career__year--2022-08 {
    grid-row: 20;
}

.p-career__year--2023 {
    grid-row: 25;
}

.p-career__year--2023-10 {
    grid-row: 34;
}

.p-career__year--2024 {
    grid-row: 37;
}

.p-career__year--2024-08 {
    grid-row: 44;
}

.p-career__year--2025 {
    grid-row: 49;
}

.p-career__year--2025-04 {
    grid-row: 52;
}

.p-career__year--2026 {
    grid-row: 61;
}

.p-career__item--mitsubishi-in {
    grid-column: 3;
    grid-row: 4;
    position: relative;
}

.p-career__item--alpha-part {
    grid-column: 3;
    grid-row: 20;
}

.p-career__item--youtube {
    grid-column: 3;
    grid-row: 34;
}

.p-career__item--mitsubishi-out {
    grid-column: 3;
    grid-row: 44;
}

.p-career__item--alpha-full {
    grid-column: 3;
    grid-row: 49;
}

.p-career__item--school {
    grid-column: 3;
    grid-row: 52;
}

.p-career__title {
    font-size: var(--font-size-300);
    letter-spacing: var(--spacing-xs);
}






/* Contact */
.p-contact__github,
.p-contact__mail {
    width: 100%;
    max-width: 500px;
}


.p-contact__button-wrap {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
}