@charset "UTF-8";

:root {
    /* 基本色 */
    --color-primary: #383838;
    --color-secondary: #d0d0d0;
    --color-accent: #6f1d2d;

    /* 文字大きさ（Googleのデザインシステムが採用しているらしいものをベースに） */
    --font-size-100: 0.75rem;   /* 12px */
    --font-size-200: 0.875rem;  /* 14px */
    --font-size-300: 1rem;      /* 16px */
    --font-size-400: 1.125rem;  /* 18px */
    --font-size-500: 1.25rem;   /* 20px */
    --font-size-600: 1.5rem;    /* 24px */
    --font-size-700: 2rem;      /* 32px */
    --font-size-800: 3rem;      /* 48px */
    --font-size-900: 5rem;      /* 80px */

    /* 余白 */
    --spacing-100: 0.25rem; /* 4px */
    --spacing-200: 0.5rem;  /* 8px */
    --spacing-300: 0.75rem; /* 12px */
    --spacing-400: 1rem;    /* 16px */
    --spacing-500: 1.5rem;  /* 24px */
    --spacing-600: 2rem;    /* 32px */
    --spacing-700: 3rem;    /* 48px */
    --spacing-800: 4rem;    /* 64px */
    --spacing-900: 6rem;    /* 96px */

    --letter-spacing-100: 0.02em;
    --letter-spacing-200: 0.04em;
    --letter-spacing-300: 0.08em;
    --letter-spacing-400: 0.12em;

    /* ボーダー半径 */
    --radius-sm: 0.25rem;
    --radius-md: 0.5rem;
    --radius-300: 0.75rem; /* あとから全部命名修正する。。 */
    --radius-lg: 1rem;
    --radius-full: 9999px; /* 完全な円 */
}

/* Foundation */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /* ページ内スクロール時にスムーズに移動 */
}

body {
    margin: 0; /* ブラウザが初めから持ってるのを消す */
    background-color: var(--color-primary);
    color: var(--color-secondary);
    overflow-x: hidden;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: var(--font-size-500);
    letter-spacing: var(--letter-spacing-300);
}

h2 {
    font-size: var(--font-size-400);
    letter-spacing: var(--letter-spacing-200);
}

h3 {
    font-size: var(--font-size-300);
    letter-spacing: var(--letter-spacing-300);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button,
input,
textarea,
select {
    font: inherit;
}

button {
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
}

address {
    font-style: normal;
}

/* Layout */

.l-header {
    padding-inline: var(--spacing-900);
    padding-block: var(--spacing-700);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.l-main {
    padding-inline: var(--spacing-900);
    padding-top: 120px;
}

/* Component */

.c-section-title {
    padding-bottom: var(--spacing-400);
}

.c-button {
    background-color: var(--color-secondary);
    display: flex;
    align-items: center;
    color: var(--color-primary);
    height: 50px;
    border-radius: var(--radius-full);
    padding-inline: var(--spacing-600);
    letter-spacing: var(--letter-spacing-300);
}

/* Project */

.p-gnav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.p-gnav__list {
    grid-column: 2;
    display: flex;
    gap: 50px;
    align-items: center;
    height: 50px;
    border-radius: var(--radius-full);
    background-color: rgba(226, 226, 226, 0.398);
    padding-inline: 5rem;
    backdrop-filter: blur(10px);
}

.p-gnav__link {
    color: var(--color-primary);
    letter-spacing: var(--letter-spacing-200);
}

.p-gnav__buttons {
    justify-self: end;
}

/* about */

.p-about-hero {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-areas:
        "media strengths"
        "body .";
    gap: var(--spacing-400) var(--spacing-800);
    align-items: stretch;
    padding-block: var(--spacing-600);
}

.p-about-hero__media {
    grid-area: media;
    overflow: hidden;
    border-radius: var(--radius-lg);
}

.p-about-hero__media-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;/* アンカーポイントを中心に */
}

.p-about-hero__body {
    grid-area: body;
}

.p-about-hero__subname {
    margin: 0;
    font-size: var(--font-size-200);
    letter-spacing: var(--letter-spacing-400);
}

.p-about-hero__name {
    margin: 0;
    line-height: 1;
    letter-spacing: var(--letter-spacing-300);
}

.p-about-hero__meta-group {
    margin-top: var(--spacing-400);
}

.p-about-hero__meta {
    margin: 0;
    font-size: var(--font-size-200);
    line-height: 1.5;
    letter-spacing: var(--letter-spacing-300);
}

.p-about-hero__strengths {
    grid-area: strengths;
    height: 100%;
}

.p-about-hero__list {
    display: grid;
    gap: var(--spacing-500);
    height: 100%;
}

.p-about-hero__item {
    display: grid;
    grid-template-columns: minmax(120px, 280px) minmax(0, 1fr);
    gap: var(--spacing-600);
}

.p-about-hero__strength-visual {
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: var(--radius-md);
}

.p-about-hero__strength-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.p-about-hero__strength-body {
    padding-block: var(--spacing-100);
}

.p-about-hero__strength-title {
    margin: 0;
    font-size: var(--font-size-400);
    font-weight: 700;
    letter-spacing: var(--letter-spacing-300);
}

.p-about-hero__strength-text {
    margin-top: var(--spacing-300);
    font-size: var(--font-size-300);
    letter-spacing: var(--letter-spacing-300);
    line-height: 1.7;
}

/* works */
.p-works {
    position: relative;
    padding: 96px 0 120px;
    color: var(--color-secondary);
    overflow: hidden;
}

.p-works__inner {
    position: relative;
    z-index: 1;
    margin: 0 auto;
}

.p-works__bg-title {
    position: absolute;
    top: -52px;
    left: 0;
    z-index: -1;
    margin: 0;
    color: rgba(255, 255, 255, 0.2);
    font-size: var(--font-size-600);
    font-weight: 800;
    line-height: 1;
    letter-spacing: var(--letter-spacing-300);
}

.p-works__title {
    margin-bottom: 32px;
    color: var(--color-secondary);
    font-size: var(--font-size-400);
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: var(--letter-spacing-300);
}

.p-works__category + .p-works__category {
    margin-top: var(--spacing-800); /* movieとgraphicの感覚 */
}

.p-works__category-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--spacing-500);
}

.p-works__category-title {
    margin: 0;
    color: var(--color-secondary);
    font-size: var(--font-size-400);
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: var(--letter-spacing-300);
}

.p-works__more {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 156px;
    min-height: 34px;
    padding: 6px 24px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: var(--radius-full);
    color: var(--color-secondary);
    font-size: var(--font-size-300);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: var(--letter-spacing-300);
    transition: 0.3s;
}

.p-works__more:hover {
    color: var(--color-primary);
    background-color: var(--color-secondary);
}

.p-works__more-icon {
    display: inline-block;
    margin-left: var(--spacing-500);
    line-height: 1;
    transform: translateY(-1px);
}

.p-works__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--spacing-600);
    margin: 0;
    padding: 0;
}

.c-works-card {
    color: var(--color-secondary);
}

.c-work-card__visual {
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border-radius: var(--radius-lg);
}

.c-work-card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.c-work-card__body {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.c-work-card__title {
    margin-top: var(--spacing-300);
    font-size: var(--font-size-600);
    font-weight: 700;
    letter-spacing: var(--letter-spacing-300);
}

.c-work-card__type {
    margin-top: var(--spacing-100);
    font-size: var(--font-size-200);
    letter-spacing: var(--letter-spacing-300);
}

.c-work-card__meta {
    margin-top: var(--spacing-400);
    font-size: var(--font-size-300);
    letter-spacing: var(--letter-spacing-300);
}

.c-work-card__text {
    margin-top: var(--spacing-100);
    font-size: var(--font-size-300);
    font-weight: 500;
    letter-spacing: var(--letter-spacing-300);
}






/* Career */
.p-career {
    --career-date-width: 96px;
    --career-marker-width:40px;
    --career-month-height: 1rem;
    --career-line-color: rgba(51, 51, 51, 0.28);

    background-color: var(--color-secondary);
    color: var(--color-primary);
    margin-inline: calc(var(--spacing-900) * -1);
}

.p-career__timeline-title {
    font-size: var(--font-size-400);
    font-weight: 600;
    letter-spacing: var(--letter-spacing-300);
    line-height: 1.4;

}

.p-career__timeline-subtitle {
    font-size: var(--font-size-100);
    font-weight: 200;
    letter-spacing: var(--letter-spacing-300);
    line-height: 1;
}

.p-career__inner {
    padding-block: 5rem;
    padding-inline: var(--spacing-900);
}

.p-career__body {
    display: grid;
    grid-template-columns: minmax(360px, 0.9fr) minmax(420px, 1fr);
    column-gap: clamp(3rem, 4vw, 7rem);
}

.p-career__timeline-list {    
    position: relative;
    min-height: calc(63 * var(--career-month-height) + 4rem);
}

.p-career__timeline-item {
    display: grid;
    grid-template-columns: var(--career-date-width) var(--career-marker-width) 1fr;
    align-items: start;
    position: absolute;
    top: calc(var(--career-offset-months) * var(--career-month-height));
    left: 0;
    width: 100%;
}

.p-career__timeline-date {
    grid-column: 1;
    justify-self: end;
    padding-right: var(--spacing-300);
}

.p-career__timeline-body {
    grid-column: 3;
}

/* 丸 */
.p-career__timeline-item::before {
    content: "";
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    position: relative;
    z-index: 1;
    width: 10px;
    height: 10px;
    top: 0.5em;
    border-radius: var(--radius-full);
    background-color: var(--career-line-color);
    transition: background-color 0.25s ease, transform 0.25s ease;
}

.p-career__timeline-item:last-child::before {
    display: none;
}

/* 線 */
.p-career__timeline-item::after {
    content: "";
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    width: 1.5px;
    height: calc(var(--career-duration-months) * var(--career-month-height));
    background-color: var(--career-line-color);
    transition: background-color 0.25s ease, opacity 0.25s ease, width 0.25s ease;
}

.p-career__timeline-item:last-child::after {
    display: none;
}

/* 座標指定？ */
.p-career__timeline-item--high-school {
    --career-offset-months: 0;
    --career-duration-months: 1;
}

.p-career__timeline-item--mitsubishi-in {
    --career-offset-months: 1;
    --career-duration-months: 9;
}

.p-career__timeline-item--2022-01 {
    --career-offset-months: 10;
    --career-duration-months: 7;
}

.p-career__timeline-item--alpha-part {
    --career-offset-months: 17;
    --career-duration-months: 5;
}

.p-career__timeline-item--2023-01 {
    --career-offset-months: 22;
    --career-duration-months: 9;
}

.p-career__timeline-item--youtube {
    --career-offset-months: 31;
    --career-duration-months: 3;
}

.p-career__timeline-item--2024-01 {
    --career-offset-months: 34;
    --career-duration-months: 7;
}

.p-career__timeline-item--mitsubishi-out {
    --career-offset-months: 41;
    --career-duration-months: 5;
}

.p-career__timeline-item--alpha-full {
    --career-offset-months: 46;
    --career-duration-months: 3;
}

.p-career__timeline-item--school {
    --career-offset-months: 49;
    --career-duration-months: 9;
}

.p-career__timeline-item--2026-01 {
    --career-offset-months: 58;
    --career-duration-months: 3;
}

.p-career__timeline-item--school-advance {
    --career-offset-months: 61;
    --career-duration-months: 3;
}

.p-career__timeline-item--2026-06 {
    --career-offset-months: 63;
    --career-duration-months: 0;
}




.p-career__details {
    display: grid;
    row-gap: var(--spacing-800);
}

.p-career__detail-card {
    border-bottom: 1px solid rgba(51, 51, 51, 0.3);
    padding: 0 0 var(--spacing-700);
}

.p-career__detail-title {
    font-size: var(--font-size-700);
    font-weight: 600;
    line-height: 1.35;
    letter-spacing: var(--letter-spacing-300);
}

.p-career__detail-role {
    margin-top: var(--spacing-200);
    font-size: var(--font-size-200);
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: var(--letter-spacing-200);
}

.p-career__detail-period {
    margin-top: var(--spacing-100);
    font-size: var(--font-size-100);
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: var(--letter-spacing-200);
}

.p-career__detail-lead {
    margin-top: var(--spacing-500);
    font-size: var(--font-size-500);
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: var(--letter-spacing-100);
}

.p-career__detail-text {
    margin-top: var(--spacing-100);
    font-size: var(--font-size-400);
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: var(--letter-spacing-200);
    max-width: 32rem;
}



.p-career__body:has(.p-career__detail-card--mitsubishi:hover)
    .p-career__timeline-item--mitsubishi-in::after,
.p-career__body:has(.p-career__detail-card--mitsubishi:hover)
    .p-career__timeline-item--2022-01::after,
.p-career__body:has(.p-career__detail-card--mitsubishi:hover)
    .p-career__timeline-item--alpha-part::after,
.p-career__body:has(.p-career__detail-card--mitsubishi:hover)
    .p-career__timeline-item--2023-01::after,
.p-career__body:has(.p-career__detail-card--mitsubishi:hover)
    .p-career__timeline-item--youtube::after,
.p-career__body:has(.p-career__detail-card--mitsubishi:hover)
    .p-career__timeline-item--2024-01::after {
    background-color: var(--color-accent);
}

.p-career__body:has(.p-career__detail-card--mitsubishi:hover)
    .p-career__timeline-item--mitsubishi-in::before,
.p-career__body:has(.p-career__detail-card--mitsubishi:hover)
    .p-career__timeline-item--mitsubishi-out::before {
    background-color: var(--color-accent);
    transform: scale(1.7);
}












/* Contact */
.p-contact__github,
.p-contact__mail {
    width: 100%;
    max-width: 500px;
}

.p-contact__button-wrap {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
}


